body{
    font-family: Arial, Helvetica, sans-serif;
}
.todo-grid , .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom :10px ;
}
.js-name-input{
    padding: 7px 15px ;
}
.js-date-input{
    padding: 7px 13px ;
    
}
.add-button{
    padding: 10px 25px ;
   
    background-color: rgb(2, 123, 2);
    border: none;
    color: white;
    cursor: pointer;
    
}
.delete-button{
    padding: 10px 25px ;
    color: white;
    background-color: darkred;
    border: none;
    cursor: pointer;
}